<div class="card form-card" *ngIf="!done">
    <h4 class="card-header">Forgot password</h4>
    <div class="card-body">
        <p>
            Enter your email and we send you password reset link
        </p>
        <form [formGroup]="form" (ngSubmit)="onSubmit()">
            <div class="mb-3">
                <label class="form-label">Email</label>
                <input type="email" formControlName="email" class="form-control"
                    [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors?.['required']">Email is required</div>
                    <div *ngIf="f.email.errors?.['email']">
                            Invalid email.
                    </div>
                </div>
            </div>
            <div class="d-flex">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm me-1"></span>
                    Confirm
                </button>
                <div>
                    <a class="btn btn-link" [routerLink]="['/']">Home</a>
                </div>
            </div>
            <pre *ngIf="message.length > 0" class="mb-3 mt-3">{{ message }}</pre>
        </form>
    </div>
</div>

<div class="mx-auto text-center vertical-center" *ngIf="done">
    <h4>Password reset in progress</h4>
    <p>
        Now check your email box and follow link to set new password
    </p>
    <div class="mt-5">
        <a class="btn-link" [routerLink]="['/']">Home</a>
    </div>
</div>
